$primary-color: white;
$secondary-color: #F15624;
$badge-color: red;
$text-color: black;
$text-color-active: #F15624;
$icon-color: white;

$border-color-base: #DFDFDF;
$panel-background-color: white;
$shadow-color: #D9D9D9;
$button-text-color: #F15624;
$font-family: "Noto Sans SC", 'Montserrat', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-btn-bg-color: #EEEEEE;

div, span, p, a, h1, h2 {
  font-family: $font-family;
  user-select: none;
}
img {
  user-drag: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
}

h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 100%;
  user-select: none;
}


.scroll-bar {
  &::-webkit-scrollbar {
    height: 6px;
    transition: height 0.2s ease;
  }
  &:hover::-webkit-scrollbar {
    //height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(30, 31, 34, 0.5);
  }
}
.scroll-bar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}
.theme-white {
  background: white !important;
  .n-calendar-wrap {
    background-color: rgba(159, 159, 159, 0.1);
    border: rgba(159, 159, 159, 0.3) 1px solid;
  }
}
.theme-orange {
  background: #F15624 !important;
  .n-calendar-wrap {
    background-color: rgba(217, 217, 217, 0.1);
    border: rgba(255, 255, 255, 0.3) 1px solid;
  }
}

.text-500 {
  font-weight: 500;
  font-size: 19px;
}

.el-input {
  :deep(.el-input-number .el-input__wrapper) {
    border-radius: 5px;
  }
  :deep(.el-input .el-input__wrapper) {
    border-radius: 5px;
  }
}
.slider-with-input {
  :deep(.show-input) {
    margin-right: 20px;
  }
  :deep(.el-slider__input) {
    width: 50%; // 在這裡調整您想要的寬度
    gap: 0;
  }
  :deep(.el-input-number) {
    width: 60px;
  }
}
.color-picker-square :deep(.vc-color-wrap) {
  height: 26px;
  width: 26px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid $border-color-base;
  box-shadow: 0 1px 5px rgba(39,59,69,.05),0 1px 2px rgba(39,59,69,.05);
  background-color: #f15624;
}
.color-picker-rectangle :deep(.vc-color-wrap) {
  height: 26px;
  width: 52px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid $border-color-base;
  box-shadow: 0 1px 5px rgba(39,59,69,.05),0 1px 2px rgba(39,59,69,.05);
  background-color: #f15624;
}

.scroll-bar-style {
  &::-webkit-scrollbar {
    height: 6px;
    transition: height 0.2s ease;
  }
  &:hover::-webkit-scrollbar {
    //height: 10px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(30, 31, 34, 0.5);
  }
}

:deep(.el-dropdown-menu__item) {
  &:not(.is-disabled):hover,
  &:not(.is-disabled):focus {
    background-color: #EEEEEE;
    color: $text-color;
  }
  &:not(.is-disabled) {
    color: $text-color;
  }

  &.is-disabled:focus {
    background-color: transparent;
    color: var(--el-color-info-light-3);
  }
}

.source-search-input {
  width: 262px;
  font-size: medium;

  // 使用 :deep() 來選取 el-input 內部的 wrapper 元素
  :deep(.el-input__wrapper) {
    height: 54px;
    border: 1px solid $border-color-base;
    border-radius: 999px;
    box-shadow: none; // 移除 focus 時的預設陰影
  }

  // 使用 :deep() 來選取 el-input 內部的 input 元素
  :deep(.el-input__inner) {
    padding-left: 5px; // 讓 placeholder 和輸入文字內縮
  }
  // 調整 clearable 與 suffix-icon 的順序
  :deep(.el-input__suffix) {
    display: flex;
    align-items: center;
  }

  :deep(.el-input__clear) {
    order: -1; // 將 clearable 圖示排在最前面 (order 值越小越靠前)
    margin-right: 8px; // 增加與右側搜尋圖示的間距
  }
  .submit-btn {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $secondary-color;
    border-radius: 999px;
    color: white;
    transform: translateX(5px);
  }
}

.skeleton {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; // 隱藏偽元素超出容器的部分
  background-color: rgba(80, 80, 80, 0.3); // 骨架屏的底色

  // 使用偽元素創建掃光效果
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    90deg,
                    rgba(255, 255, 255, 0) 0,
                    rgba(255, 255, 255, 0.1) 20%,
                    rgba(255, 255, 255, 0.3) 60%,
                    rgba(255, 255, 255, 0)
    );
    animation: shimmer 2s infinite;
  }
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}