@use "styles/fonts.scss";

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Fredoka:wght@500&family=Noto+Sans+SC:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Noto Sans SC", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 800px;
  position: relative;
  overflow: hidden;
}

#app {
  /*max-width: 1280px;*/
  width: 100%;
}

.custom-confirm-btn {
  --el-button-bg-color: #78efb2 !important;
  --el-button-border-color: #78efb2 !important;
  --el-button-text-color: black !important;
  --el-button-hover-bg-color: #95d475 !important;
  --el-button-hover-border-color: #95d475 !important;
  --el-button-hover-text-color: black !important;
  --el-button-active-bg-color: #60c28e !important;
  --el-button-active-border-color: #60c28e !important;
  font-weight: bold !important;
  width: 100px;
}
.custom-cancel-btn {
  --el-button-bg-color: #78efb2 !important;
  --el-button-border-color: #78efb2 !important;
  --el-button-text-color: black !important;
  --el-button-hover-bg-color: #95d475 !important;
  --el-button-hover-border-color: #95d475 !important;
  --el-button-hover-text-color: black !important;
  --el-button-active-bg-color: #60c28e !important;
  --el-button-active-border-color: #60c28e !important;
  font-weight: bold !important;
  width: 100px;
}

